#today {
    float: top;
    border: 1px solid grey;
    padding: 5px 5px 5px 5px;
    margin-right: 400px;
}

.todays-date {
    font-size: 20px;
}

.favorable {
    background-color: lightgreen;
    padding: 5px 5px 5px 5px;
}
  
.moderate {
    background-color: rgb(238, 238, 132);
    padding: 5px 5px 5px 5px;
}
  
.severe {
    background-color: rgb(230, 55, 55);
    padding: 5px 5px 5px 5px;
    color: white;
}